:root {
  --ui-button-background-color: red;
  --ui-button-background-color-hover: blue;
}

.button {
  background-color: var(--ui-button-background-color);

  &:hover {
    --ui-button-background-color: var(--ui-button-background-color-hover);
  }
}
